<script type="text/javascript">
window.onload = function() {
  document.getElementById('answers_0_text').focus();
}
</script>
<table class="profile">
  <tr>
    <td class="main">
<%= form_for 'quiz', :url => quizzes_path do |f| %>
  <%= fields_for 'answers' do |answers_f|%>
  <table class="items">
    <% 0.upto(9) do |n| %>
    <tr><td class="item">
      Q: <%= @quiz.questions[n].item.expression %><br/>
      <%= answers_f.label :answers, 'A:' %>
      <%= answers_f.text_field :text, :index => n, :autocomplete => :off %><br/>
    </td></tr>    
    <% end %>
  </table>
  <% end %>
  
  <%= fields_for 'questions' do |questions_f| %>
    <% 0.upto(9) do |n| %>
      <%= questions_f.hidden_field :id, :index=>n, :value => @quiz.questions[n].item.id %>
    <% end %>
  <% end %>
  <%= f.submit "Done" %>
</td>
<td class="sidebar round">
  <%= render :partial => 'shared/sidebar_user' %>
  Tags:<br/>
  <%= link_to 'All', :action => :index, :start => 'yes' %>
  <% @tags.each do |tag| %>
  <%= link_to tag.name, :action => :index, :tag => tag.name, :start => 'yes' %>
  <% end %>
<% end %>
</td>
</tr>
</table>
