<p>
  <% if current_user %>
  <span>Signed in: <%= current_user.name %></span><br/>
  <span>First add some words, then play quiz!</span><br/>
    <%= link_to "Sign out", signout_path %>
  <% else %>
      <%= link_to "Sign in with Facebook", '/auth/facebook' %>
  <% end %>
  <% if Rails.env == 'development' and current_user == nil %>
      <%= form_for(:user, :url => devsignin_path) do |f| %>
        <div class="field">
          <%= f.label :name %>
          <br/>
          <%= f.text_field :name %>
        </div>
        <div class="actions">
          <%= f.submit "Dev sign in" %>
        </div>
      <% end %>
    <% end %>
</p>
