<table class="profile" summary="Items">
  <tr>
    <td class="main">
<p>
  <% if current_user %>
  <span>First add some words, then play quiz!</span><br/>
  <span>Spanish chars on Win:</span><br/>
  <span>Right Alt-1 -> ¡</span><br/>
  <span>Right Alt-/ -> ¿</span><br/>
  <span>Right Alt-n -> ñ</span><br/>
  <%= link_to "Sign out", signout_path %>
  <% else %>
      <%= link_to "Sign in with Facebook", '/auth/facebook' %>
  <% end %>
  
  <% if Rails.env == 'development' and current_user == nil %>
      <%= form_for(:user, :url => devsignin_path) do |f| %>
        <div class="field">
          <%= f.label :name %>
          <br/>
          <%= f.text_field :name %>
        </div>
        <div class="actions">
          <%= f.submit "Dev sign in" %>
        </div>
      <% end %>
    <% end %>
</p>
    </td>
    <% if current_user %>
    <td class="sidebar round">
      <%= render :partial => 'shared/sidebar_user' %>
      <%= render :partial => 'shared/sidebar_tags' %>
      <%= render :partial => 'shared/sidebar_missed'%>
    </td>
    <% elsif %>
    <td></td>
    <% end %>
  </tr>
</table>