<script type="text/javascript">
window.onload = function() {
  document.getElementById('item_expression').focus();
}
</script>
<div class="formcontainer">
<%= form_for @item do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label 'Q:' %> 
    <%= f.text_field :expression, :autocomplete => :off %>
  </div>
  <div class="field">
    <%= f.label 'A:' %>
    <%= f.text_field :translation, :autocomplete => :off %>
  </div>
  <div class="field">
    <%= f.label 'Tags:' %>
    <%= f.text_field :tag_list, :autocomplete => :off, :value => session[:last_tag] %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
