<table class="profile" summary="Items">
  <tr>
    <td class="main">
    <span>
      <%= @item.expression%><br/>
      <%= @item.translation%><br/>
    </span>
    </td>
    <td class="sidebar round">
      <%= render :partial => 'shared/sidebar_user' %>
      <%= render :partial => 'shared/sidebar_tags' %>
      <%= render :partial => 'shared/sidebar_missed'%>
    </td>
  </tr>
</table>